---
layout: home
bodyclass: home
title: Home | Ocean Outcomes
---

  <section class="hero hero-home">
    <div class="hero-text">
      <h1>{%t home-page-hero-text %}</h1>
      <a class="button-large" href="{{site.baseurl}}/news/">{%t news-section-heading %}</a>
      <br />
      <br />
      <a class="button-large" href="{{site.baseurl}}/contact/">{%t contact-us %}</a>
      <br />
      <br />
      <a class="button-large" href="/who-we-are/join-our-team/donate/">{%t donate %}</a>
    </div>
    <a class="scroll-arrow" href=""><img src="{{site.baseurl}}/assets/images/arrow-icon.png" alt="arrow icon"></a>
  </section>

  <section class="home-about">
   <div class="grid-container">
    <h1 class="aqua-heading">{%t about-section-heading %}</h1>
    <h2>{%t about-section-content %}
    </h2>
    <ul class="home-about__item who-we-are">
      <li class="drop-down-menu-title">
      <a href="{{site.baseurl}}/who-we-are/">
          {%t who-we-are %} <i class="fa fa-chevron-down"></i>
        </a>
      </li>
      <li class="drop-down-menu">
        <ul>
          <li><a href="/who-we-are/vision-and-mission/">{%t vision-mission %}</a></li>
          <li><a href="/who-we-are/our-team/">{%t our-team %}</a></li>
          <li><a href="/who-we-are/board/">{%t board %}</a></li>
          <li><a href="/who-we-are/testimonials/">{%t testimonials %}</a></li>
          <li><a href="/who-we-are/join-our-team/">{%t join-our-team %}</a></li>
        </ul>
      </li>
    </ul>
    <ul class="home-about__item what-we-do">
      <li class="drop-down-menu-title">
        <a href="/what-we-do/">
          {%t what-we-do %} <i class="fa fa-chevron-down"></i>
        </a>
      </li>
      <li class="drop-down-menu">
        <ul>
          <li><a href="/what-we-do/our-approach/">{%t triple-bottom-line-seafood %}</a></li>
          <li><a href="/what-we-do/services/">{%t services %}</a></li>
          <li><a href="/what-we-do/small-scale-fisheries/">{%t small-scale-fisheries %}</a></li>
          <li><a href="/what-we-do/tuna/">{%t tuna %}</a></li>
          <li><a href="/what-we-do/our-partners/">{%t our-partners %}</a></li>
        </ul>
      </li>
    </ul>
    <ul class="home-about__item where-we-work">
      <li class="drop-down-menu-title">
        <a href="/where-we-work/">
          {%t where-we-work %} <i class="fa fa-chevron-down"></i>
        </a>
      </li>
      <li class="drop-down-menu">
        <ul>
          <li><a href="/where-we-work/chinese-fisheries-seafood/">{%t chinese-fisheries-seafood %}</a></li>
          <li><a href="/where-we-work/latin-america-fisheries-seafood/">{%t latin-america-fisheries-seafood %}</a></li>
          <li><a href="/where-we-work/japanese-fisheries-seafood/">{%t japanese-fisheries-seafood %}</a></li>
        </ul>
      </li>
    </ul>
   </div>
  </section>

  {% for block in site.data.featured-blocks %}
    {% if block.featured and block.language == 'en' %}
      <section class="home-success-stories">
        <div class="grid-container">
          <h1>{{block.heading}}</h1>
          <h2>{{block.title}}</h2>
          <p>{{block.content}}</p>
          {% if block.link %}
            <a class="button-large" href="{{block.link.link-url}}">{{block.link.link-text}}</a>
          {% endif %}
          <img class="support-image" src="{{block.hero-image}}" alt="{{block.title}}">
        </div>
      </section>
    {% endif %}
  {% endfor %}

  {% include date-format.html %}
  <section class="home-news">
    <div class="grid-container">
      <h1>{%t news-section-heading %}</h1>
      <div class="posts">
        {% for post in site.tags.und %}
          {% if post.featured %}
            <div class="post">
              <a href="{{ post.url }}"><img src="{{ post.hero-image }}" alt="{{post.title}}"></a>
              <p class="post-date">{{ post.date | date: date-format }}</p>
              <h2>
                 <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                  </a>
                </h2>
                <p class="post-teaser-text">{{ post.teaser-text }}</p>
              </div>
          {% endif %}
        {% endfor %}
      </div>
      <a class="button-large" href="/news/">{%t news-section-link-text %}</a>
    </div>
  </section>
