---
layout: home
bodyclass: home
title: Home | Ocean Outcomes
---

  <section class="hero hero-home">
    <div class="hero-text">
      <h1>{%t home-page-hero-text %}</h1>
      <a class="button-large" href="{{site.baseurl}}/contact.html">{%t contact-us %}</a>
    </div>
    <a class="scroll-arrow" href=""><img src="{{site.baseurl}}/assets/images/arrow-icon.png" alt="arrow icon"></a>
  </section>

  <section class="home-about">
   <div class="grid-container">
    <h1 class="aqua-heading">{%t about-section-heading %}</h1>
    <h2>{%t about-section-content %}
    </h2>
    <ul class="home-about__item who-we-are">
      <li class="drop-down-menu-title">
      <a href="{{site.baseurl}}/who-we-are">
          {%t who-we-are %} <i class="fa fa-chevron-down"></i>
        </a>
      </li>
      <li class="drop-down-menu">
        <ul>
          <li><a href="/who-we-are/vision-and-mission">{%t vision-mission %}</a></li>
          <li><a href="/who-we-are/our-team">{%t our-team %}</a></li>
        </ul>
      </li>
    </ul>
    <ul class="home-about__item what-we-do">
      <li class="drop-down-menu-title">
        <a href="/what-we-do">
          {%t what-we-do %} <i class="fa fa-chevron-down"></i>
        </a>
      </li>
      <li class="drop-down-menu">
        <ul>
          <li><a href="/what-we-do/our-work">{%t our-work %}</a></li>
          <li><a href="/what-we-do/services">{%t services %}</a></li>
          <li><a href="/what-we-do/success-stories">{%t success-stories %}</a></li>
        </ul>
      </li>
    </ul>
    <ul class="home-about__item initiatives">
      <li class="drop-down-menu-title">
        <a href="/initiatives">
          {%t initiatives %} <i class="fa fa-chevron-down"></i>
        </a>
      </li>
      <li class="drop-down-menu">
        <ul>
          <li><a href="/initiatives/japanese-fisheries">{%t japanese-fisheries %}</a></li>
          <li><a href="/initiatives/russian-fisheries">{%t russian-fisheries %}</a></li>
          <li><a href="/initiatives/iuu">{%t iuu %}</a></li>
          <li><a href="/initiatives/partnership">{%t partnership %}</a></li>
          <li><a href="/initiatives/tracker">{%t tracker %}</a></li>
          <li><a href="/initiatives/lets-talk">{%t lets-talk %}</a></li>
        </ul>
      </li>
    </ul>
   </div>
  </section>

  {% for block in site.data.featured-blocks %}
    {% if block.featured and block.language == 'en' %}
      <section class="home-success-stories">
        <div class="grid-container">
          <h1>{{block.heading}}</h1>
          <h2>{{block.title}}</h2>
          <p>{{block.content}}</p>
          <img class="support-image" src="{{site.baseurl}}/assets/images/{{block.hero-image}}">
          {% if block.link %}
            <a class="button-large" href="{{block.link.link-url}}">{{block.link.link-text}}</a>
          {% endif %}
        </div>
      </section>
    {% endif %}
  {% endfor %}

  <section class="home-news">
    <div class="grid-container">
      <h1>{%t news-section-heading %}</h1>
      <div class="posts">
        {% for post in site.tags.und %}
          {% if post.featured %}
            <div class="post">
              <img src="{{ post.hero-image }}">
              <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
              <h2>
                 <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                  </a>
                </h2>
                <p class="post-teaser-text">{{ post.teaser-text }}</p>
              </div>
          {% endif %}
        {% endfor %}
      </div>
      <a class="button-large" href="/news">{%t news-section-link-text %}</a>
    </div>
  </section>
