---
layout: home
bodyclass: home
title: Home | Ocean Outcomes
---

  <section class="hero hero-home">
    <div class="hero-text">
      <h1>{%t home-page-hero-text %}</h1>
      <a class="button-large" href="{{site.baseurl}}/ko/contact/">{%t contact-us %}</a>
    </br>
    </br>
      <a class="button-large" href="https://apply.workable.com/ocean-outcomes/j/420F4BAF53/">직원 모집합니다</a>
    </div>
    <a class="scroll-arrow" href=""><img src="{{site.baseurl}}/assets/images/arrow-icon.png" alt="arrow icon"></a>
  </section>

  <section class="home-about">
   <div class="grid-container">
    <h1 class="aqua-heading">{%t about-section-heading %}</h1>
    <h2>{%t about-section-content %}</h2>
  </section>

  {% for block in site.data.featured-blocks %}
  {% if block.featured and block.language == 'ko' %}
  <section class="home-success-stories">
      <div class="grid-container">
          <h1>{{block.heading}}</h1>
          <h2>{{block.title}}</h2>
          <p>{{block.content}}</p>
          {% if block.link %}
          <a class="button-large" href="{{block.link.link-url}}">{{block.link.link-text}}</a>
          {% endif %}
          <img class="support-image" src="{{block.hero-image}}" alt="{{block.title}}">
      </div>
  </section>
  {% endif %}
  {% endfor %}

  {% include date-format.html %}
  <section class="home-news">
    <div class="grid-container">
      <h1>{%t news-section-heading %}</h1>
      <div class="posts">
        {% for post in site.tags.und %}
          {% if post.featured %}
            <div class="post">
              <a href="{{ post.url }}"><img src="{{ post.hero-image }}" alt="{{post.title}}"></a>
              <p class="post-date">{{ post.date | date: date-format }}</p>
              <h2>
                 <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                  </a>
                </h2>
                <p class="post-teaser-text">{{ post.teaser-text }}</p>
              </div>
          {% endif %}
        {% endfor %}
      </div>
      <a class="button-large" href="/news/">{%t news-section-link-text %}</a>
    </div>
  </section>
