{% include parent_url.html %}

{% include child_depth.html %}

<section class="subnav">
  <ul>
    {% assign sorted_pages = site.pages | sort: 'weight' %}
    {% for node in sorted_pages %}
      {% include node_depth.html %}
      {% if node.url contains parent_url and page_depth == node_depth %}
        {% assign node_url = node.url | remove: 'index.html' %}
        {% if node_url == page_url %}
          <li><a class="active" href="{{node_url | replace: '//', '/'}}">{{node.title}}</a></li>
        {% elsif node_url != parent_url %}
          <li><a href="{{node_url | replace: '//', '/'}}">{{node.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</section>
