{% include parent_url.html %}

<header class="content-header {{parent_url | replace: "/", " "}} {{page.title | replace: " ", "-" | downcase}}">
  <section class="title">
    {% for node in site.pages %}
      {% include node_depth.html %}
      {% if node_url == parent_url and node_depth > 1 and page_url != parent_url %}
      <p class="section-title"><a href="{{parent_url | replace: '//', '/'}}"><span>{{ node.title }}</span></a></p>
      {% endif %}
    {% endfor %}
    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
  </section>
</header>
