<footer class="site-footer">  
  <div class="wrap">
    {% unless page.url contains "ru" or page.url contains "jp" %}
    <ul>
      <li><a href="{{ site.baseurl}}/who-we-are/">{%t who-we-are %}</a></li>
      <li><a href="{{ site.baseurl}}/what-we-do/">{%t what-we-do %}</a></li>
      <li><a href="{{ site.baseurl}}/initiatives/">{%t initiatives %}</a></li>
      <li><a href="{{ site.baseurl}}/news/">{%t news-section-heading %}</a></li>
      <li><a href="{{ site.baseurl}}/contact.html">{%t contact-us %}</a></li>
      <li><a href="{{ site.baseurl}}/initiatives/supply-chain/tracker">{%t tracker %}</a></li>
      <li class="last">
        <a class="toggle language" href="">
          {%t language %} <i class="fa fa-chevron-down"></i>
        </a>
      </li>
    </ul>
    {% endunless %}
    <div class="logo-container">
      <a href="/">{%t ocean-outcomes-home %}</a>
    </div>
  </div>
</footer>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl}}/assets/js/jquery.transit.min.js"></script>
<script src="{{site.baseurl}}/assets/js/modernizr.js"></script>
<script src="{{site.baseurl}}/assets/js/share.min.js"></script>
<script src="{{site.baseurl}}/assets/js/staff-grid.js"></script>
<script>$(function(){ Grid.init(); });</script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>
<script type="text/javascript">
  function postForm() {
    var name  = $('input[name="entry.504272795"]').val();
    var email = $('input[name="entry.102590496"]').val();
    var phone = $('input[name="entry.1221877242"]').val();
    var message = $('input[name="entry.1665503619"]').val();

    $.ajax({
      url:
      "https://docs.google.com/forms/d/12eJZzd40rVr7X0V5ce6seIpnmHCUNkaPlUCVPrUuKU8/formResponse",
      data: {
        "entry.504272795": name, 
        "entry.102590496": email, 
        "entry.1221877242": phone, 
        "entry.1665503619": message
      }, 

      type: "POST",
      dataType: "jsonp",
      statusCode: {
        0: function() {
          console.log('submitted');
        },
        200: function() {
          console.log('submitted 2');
        }
      }
    });
  }

  $('form#googleForm').submit(function(e){
    e.preventDefault();
    postForm();
  });
</script>
