<footer class="site-footer">  
  <div class="wrap">
    {% unless page.url contains "ru" or page.url contains "jp" %}
    <ul>
      <li><a href="{{ site.baseurl}}/who-we-are/">{%t who-we-are %}</a></li>
      <li><a href="{{ site.baseurl}}/what-we-do/">{%t what-we-do %}</a></li>
      <li><a href="{{ site.baseurl}}/initiatives/">{%t initiatives %}</a></li>
      <li><a href="{{ site.baseurl}}/news/">{%t news-section-heading %}</a></li>
      <li><a href="{{ site.baseurl}}/contact.html">{%t contact-us %}</a></li>
      <li><a href="{{ site.baseurl}}/initiatives/supply-chain/tracker"></a></li>
      <li class="last">
        <a class="toggle language" href="">
          {%t language %} <i class="fa fa-chevron-down"></i>
        </a>
      </li>
    </ul>
    {% endunless %}
    <div class="logo-container">
      <a href="/">{%t ocean-outcomes-home %}</a>
    </div>
  </div>
</footer>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl}}/assets/js/jquery.transit.min.js"></script>
<script src="{{site.baseurl}}/assets/js/modernizr.js"></script>
<script src="{{site.baseurl}}/assets/js/share.min.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>
<script src="{{site.baseurl}}/assets/js/staff-grid.js"></script>
<script>$(function(){ Grid.init(); });</script>
