<footer class="site-footer">
  <div class="wrap">
    {% unless page.lang contains "ru" or page.lang contains "jp" or page.lang contains "zh" or page.lang contains "es" or page.lang contains "ko" %}
    <ul>
      <li><a href="{{ site.baseurl}}/who-we-are/">{%t who-we-are %}</a></li>
      <li><a href="{{ site.baseurl}}/what-we-do/">{%t what-we-do %}</a></li>
      <li><a href="{{ site.baseurl}}/where-we-work/">{%t where-we-work %}</a></li>
      <li><a href="{{ site.baseurl}}/news/">{%t news-section-heading %}</a></li>
      <li><a href="{{ site.baseurl}}/enews/">{%t enews %}</a></li>
      <li><a href="{{ site.baseurl}}/contact/">{%t contact-us %}</a></li>
      <li><a href="/who-we-are/join-our-team/donate/">{%t donate %}</a></li>
      <li class="newsletter"><a href="https://oceanoutcomes.us3.list-manage.com/subscribe?u=2b8e55c974a70064c5806011a&id=b067487a7a" target="_blank">{%t newsletter %} <i class="fa fa-chevron-right"></i></a></li>
    </ul>
    {% endunless %}
    <ul class="social-links">
      {% for link in site.data.social-links  %}
      <li><a class="{{link.channel}}" href="{{link.url}}">
        {% case link.channel %}
        {% when 'instagram' %}
        <i class="fa fa-instagram"></i>
        {% when 'linkedin' %}
        <i class="fa fa-linkedin"></i>
        {% when 'facebook' %}
        <i class="fa fa-facebook"></i>
        {% endcase %}
      </a></li>
      {% endfor %}
    </ul>
    <div class="logo-container">
      {% case page.lang %}
      {% when 'ru' %}
      <a href="/ru/">{%t ocean-outcomes-home %}</a>
      {% when 'ko' %}
      <a href="/ko/">{%t ocean-outcomes-home %}</a>
      {% when 'es' %}
      <a href="/es/">{%t ocean-outcomes-home %}</a>
      {% when 'jp' %}
      <a href="/jp/">{%t ocean-outcomes-home %}</a>
      {% when 'zh' %}
      <a href="/zh/">{%t ocean-outcomes-home %}</a>
      {% else %}
      <a href="/">{%t ocean-outcomes-home %}</a>
      {% endcase %}
    </div>
  </div>
</footer>
<!--<div class="newsletter-form-container">-->
<!--  <div id="newsletter-form" class="newsletter-form">-->
<!--    <div class="newsletter-inner">-->
<!--      <h1>Want the latest from the field?</h1>-->
<!--      <div class="mcresponse"></div>-->
<!--      <form id="mc-form" action="https://oceanoutcomes.us3.list-manage.com/subscribe/post-json?u=2b8e55c974a70064c5806011a&id=b067487a7a">-->
<!--        <input id="MERGE1" name="MERGE1" type="text" placeholder="First name">-->
<!--        <input id="MERGE2" name="MERGE2" type="text" placeholder="Last name">-->
<!--        <input id="MERGE0" name="MERGE0" type="email" placeholder="Email" required>-->
<!--        <input id="MERGE4" name="MERGE4" type="text" placeholder="Phone" required>-->
<!--        <input id="MERGE3" name="MERGE3" type="text" placeholder="Organization (Optional)">-->
<!--        <input type="submit" value="Submit">-->
<!--      </form>-->
<!--      <span class="close"><i class="fa fa-close"></i></span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl}}/assets/js/jquery.transit.min.js"></script>
<script src="{{site.baseurl}}/assets/js/modernizr.js"></script>
<script src="{{site.baseurl}}/assets/js/staff-grid.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.formchimp.min.js"></script>
<script>
  $(function(){
    Grid($('#og-grid')).init();
    Grid($('#og-grid-2')).init(); 
  });
</script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>
