<header class="site-header">
  <div class="wrap">

    <div class="large-screen-menu">
      <div class="logo-container">
        {% case page.lang %}
        {% when 'ru' %}
        <a href="/ru/">{%t ocean-outcomes-home %}</a>
        {% when 'jp' %}
        <a href="/jp/">{%t ocean-outcomes-home %}</a>
        {% else %}
        <a href="/">{%t ocean-outcomes-home %}</a>
        {% endcase %}
      </div>

      <div class="site-actions" role="navigation">
        <a class="toggle language" href="">
          {%t language %} <i class="fa fa-chevron-down"></i>
        </a>
        <a class="toggle close lang animated" href="">
          {%t close %} <i class="fa fa-close"></i>
        </a>
        <a class="toggle navigation animated" href="">
          <span>{%t menu %}</span> <i class="fa fa-bars"></i>
        </a>
        <a class="toggle close nav animated" href="">
          {%t close %} <i class="fa fa-close"></i>
        </a>
      </div>
    </div>
    
    <div class="small-screen-menu">
      <div class="logo-container">
        {% case page.lang %}
        {% when 'ru' %}
        <a href="/ru/">{%t ocean-outcomes-home %}</a>
        {% when 'jp' %}
        <a href="/jp/">{%t ocean-outcomes-home %}</a>
        {% else %}
        <a href="/">{%t ocean-outcomes-home %}</a>
        {% endcase %}
      </div>
      <a class="mobile-nav-toggle animated" href="">
        <i class="fa fa-bars"></i>
      </a>
      <a class="toggle language animated" href="">
        {%t language %} <i class="fa fa-chevron-down"></i>
      </a>
      <a class="toggle close mobile-nav animated" href="">
        {%t close %} <i class="fa fa-close"></i>
      </a>
    </div>
  </div>
</header>

<div class="language-menu-container">
  {% include language-menu.html %}
</div>

<div class="main-menu-container animated">
  {% include main-menu.html %}
</div>
