<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script
      src="http://localhost/facing-history/profiles/facing_history_distro/modules/contrib/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2"></script>
    <script src="{{ site.baseurl}}/assets/js/main.js"></script>
    <script src="{{ site.baseurl}}/assets/js/modernizr.js"></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

    <!-- Typekit fonts -->
    <script src="//use.typekit.net/nlq5nsi.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
