<header class="site-header">
  <div class="wrap">
    <div class="logo-container">
      <a href="/">Ocean Outcomes Home</a>
    </div>
    <nav class="site-actions" role="navigation">
    <a class="toggle language" href="">
      Lanugage <i class="fa fa-chevron-down"></i>
    </a>
    <a class="toggle navigation" href="">
      Menu <i class="fa fa-bars"></i>
    </a>
    </nav>
  </div>
</header>
<ul class="main-menu">
  <li class="top-level">
    <a href="">Who We Are</a>
    <ul>
      <li><a href="">Our Story</a></li>
      <li><a href="">Our Vision & Mission</a></li>
      <li><a href="">Our Team</a></li>
    </ul>
  </li>
  <li class="top-level">
    <a href="">What We Do</a>
  </li>
  <li class="top-level">
    <a href="">Sustainable Fisheries</a>
  </li>
  <li class="top-level">
    <a href="">News & Analysis</a>
  </li>
  <li class="top-level small"><a href="">Contact Us</a></li>
  <li class="top-level small"><a href="">Follow Us: <i class="fa fa-twitter"></i></a></li>
</ul>
