<ul class="language-menu">
{% if page.lang == 'ru' %}
  <li class="top-level"><a href="/">English</a></li>
  <li class="top-level"><a href="/jp/">日本語</a></li>
  <li class="top-level"><a href="/zh/">中文</a></li>
  <li class="top-level"><a href="/es/">Español</a></li>
  <li class="top-level"><a href="/ko/">한국어</a></li>
{% elsif page.lang == 'jp' %}
  <li class="top-level"><a href="/">English</a></li>
  <li class="top-level"><a href="/zh/">中文</a></li>
  <li class="top-level"><a href="/es/">Español</a></li>
  <li class="top-level"><a href="/ko/">한국어</a></li>
{% elsif page.lang == 'zh' %}
  <li class="top-level"><a href="/">English</a></li>
  <li class="top-level"><a href="/jp/">日本語</a></li>
  <li class="top-level"><a href="/es/">Español</a></li>
  <li class="top-level"><a href="/ko/">한국어</a></li>
{% elsif page.lang == 'es' %}
  <li class="top-level"><a href="/">English</a></li>
  <li class="top-level"><a href="/jp/">日本語</a></li>
  <li class="top-level"><a href="/zh/">中文</a></li>
  <li class="top-level"><a href="/ko/">한국어</a></li>
{% elsif page.lang == 'ko' %}
  <li class="top-level"><a href="/">English</a></li>
  <li class="top-level"><a href="/jp/">日本語</a></li>
  <li class="top-level"><a href="/zh/">中文</a></li>
  <li class="top-level"><a href="/es/">Español</a></li>
{% else %}
  <li class="top-level"><a href="/jp/">日本語</a></li>
  <li class="top-level"><a href="/zh/">中文</a></li>
  <li class="top-level"><a href="/es/">Español</a></li>
  <li class="top-level"><a href="/ko/">한국어</a></li>
{% endif %}
</ul>
