<ul class="language-menu">
{% if page.lang == 'ru' %}
  <li class="top-level"><a href="/">English</a></li>
  <li class="top-level"><a href="/jp/">日本語</a></li>
  <li class="top-level"><a href="/zh/">中文</a></li>
  <li class="top-level"><a href="/es/">[RU] Spanish</a></li>
{% elsif page.lang == 'jp' %}
  <li class="top-level"><a href="/">English</a></li>
  <li class="top-level"><a href="/ru/">Русский</a></li>
  <li class="top-level"><a href="/zh/">中文</a></li>
  <li class="top-level"><a href="/es/">[JP] Spanish</a></li>
{% elsif page.lang == 'zh' %}
  <li class="top-level"><a href="/">English</a></li>
  <li class="top-level"><a href="/ru/">Русский</a></li>
  <li class="top-level"><a href="/jp/">日本語</a></li>
  <li class="top-level"><a href="/es/">[ZH] Spanish</a></li>
{% elsif page.lang == 'es' %}
  <li class="top-level"><a href="/">[ES] English</a></li>
  <li class="top-level"><a href="/ru/">[ES] Русский</a></li>
  <li class="top-level"><a href="/jp/">[ES] 日本語</a></li>
  <li class="top-level"><a href="/es/">[ES] Spanish</a></li>
{% else %}
  <li class="top-level"><a href="/ru/">Русский</a></li>
  <li class="top-level"><a href="/jp/">日本語</a></li>
  <li class="top-level"><a href="/zh/">中文</a></li>
  <li class="top-level"><a href="/es/">[ES] Spanish</a></li>
{% endif %}
</ul>
