.button-large,
%button-large {
  box-sizing: border-box;
  display: inline-block;
  padding: .75em 2em;
  font-size: 18px;
  text-transform: uppercase;
  border: solid 3px $base-link-color;
  transition: all .4s;
  position: relative;
  z-index: 1;

  &:hover {
    background-color: $base-link-color;
    color: white;
    @include transition(all 0.4s)
  }
}

.button-white,
%button-white {
  background: transparent;
  border: em(2) solid $white;
  border-radius: 0;
  color: $white;

  &:hover {
    color: $dark-gray;
    background: white;
    @include transition(all 0.4s)
  }
}

.button-blue,
%button-blue {
  background: $blue;  
}
