.content-page .subnav {
  display: none;
  margin-bottom: 2em;
  text-align: center;

  @include media($medium-screen) {
    display: inherit;
  }

  ul {
    border-bottom: em(1) solid $light-gray;

    @include media($medium-screen) {
      padding: 0.75em 0.75em 0.7em;
    }
  }

  ul li {
    @include media($medium-screen) {
      display: inline-block; 
      margin-left: em(-5);
      margin-right: em(-5);
      position: relative;
    }
  }

  ul li a {
    color: $black;
    padding: 1em;
    text-transform: uppercase;
    display: block;

    @include media($medium-screen) {
      display: initial;
    }

    &:hover,
    &.active {
      color: $white;
      background: $aqua; 
      
      @include media($medium-screen) {
        &.active:after {
          content: "";
          position: absolute;
          bottom: -1.1em;
          left: calc(50% - 5px);
          display: block;
          width: 0; 
          height: 0; 
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid $aqua;
        }
      }
    }
  }
}

.content-page .content-page-content article {
  @include span-columns(12);
  @include shift(0);

  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }

  padding-bottom: 3em;

  h1, h2 { 
    color: $aqua; 
    font-weight: normal; 
    margin: 1em 0;
  }

  h1 { font-size: em(36); }

  h2 { font-size: em(28); }

  ul { 
    margin-left: 1em; 
    margin-bottom: 1em;
  }
  ul li {
    display: list-item;
    list-style-type: disc;
  }

  // not og-grid
  ul.og-grid { margin-left: inherit; }
  ul.og-grid li {
    display: inline-block;
    list-style-type: none;
  }
}
