.site-footer {
  @include retina-image('../images/footer-bg', 100% 100%);
  background-color: $abyss;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;

  .wrap {
    @extend .grid-container;
    overflow: hidden;
    padding-bottom: 3em;
    padding-top: 3em;
    text-align: center;
  }

  // Footer menu
  ul {
    margin-bottom: 1em;

    li {
      display: list-item;

      @include media($medium-screen) {
        display: inline;
      }
    }

    li.newsletter::before {
      content: '| ';
      color: $white;
    }

    li.newsletter .fa {
      font-size: em(12);
    }

    li a {
      color: $white;
      font-size: 0.85em;
      padding: 0.5em;
      text-transform: uppercase;
    }

    @include media($medium-screen) {
      margin-bottom: 2em;
    }
  }

  ul.social-links {
    margin: 0;
    font-size: 1.2em;
  }

  .logo-container {
    clear: left;
    text-align: center;

    a {
      @include retina-image('../images/logo', 100% 100%);
      @include hide-text;
      background-repeat: no-repeat;
      width: em(157.5);
      height: em(30.5);
      display: block;
      margin: 0 auto;

      @include media($medium-screen) {
        @include retina-image('../images/logo', em(315) em(61));
        width: em(315);
        height: em(61);
      }
    }
  }
}
