.site-footer {
  @include retina-image('../images/footer-bg', 100% 100%);
  background-color: $abyss;
  .wrap {
    @extend .grid-container;
    overflow: hidden;
    padding-bottom: 3em;
    padding-top: 3em;
    text-align: center;
  }  

  // Footer menu
  ul {
    margin-bottom: 3em;
    li { display: inline }
    li a { 
      color: $white;
      padding: 1em; 
      text-transform: uppercase; 
    }
  }

  .logo-container {
    text-align: center;
    a {
      @include retina-image('../images/logo', em(315) em(61)); 
      @include hide-text;
      background-repeat: no-repeat;
      width: em(315);
      height: em(61);
      display: block;
      margin: 0 auto;
    }
  }
}
