.site-footer {
  @include retina-image('../images/footer-bg', 100% 100%);
  background-color: $abyss;
  clear: both;

  .wrap {
    @extend .grid-container;
    overflow: hidden;
    padding-bottom: 3em;
    padding-top: 3em;
    text-align: center;
  }  

  // Footer menu
  ul {
    margin-bottom: 1em;
    
    li { display: list-item; }

    li.last {
      display: inline-block;
      overflow: hidden;
      text-align: center;

      @include media($medium-screen) {
        display: inline;
      }
    }

    li a { 
      color: $white;
      padding: 1em; 
      text-transform: uppercase; 
    }

    @include media($medium-screen) {
      margin-bottom: 3em;
    }
  }

  .logo-container {
    clear: left;
    text-align: center;
  
    a {
      @include retina-image('../images/logo', 100% 100%); 
      @include hide-text;
      background-repeat: no-repeat;
      width: em(157.5);
      height: em(30.5);
      display: block;
      margin: 0 auto;

      @include media($medium-screen) {
        @include retina-image('../images/logo', em(315) em(61)); 
        width: em(315);
        height: em(61);
      }
    }
  }
}
