.site-header {
  position: absolute;
  margin: em(50) auto 0;
  width: 100%;
  z-index: 1;

  .wrap {
    @extend .grid-container;
  }

  .logo-container {
    @include span-columns(4);
    a {
      @include retina-image('../images/logo', em(315) em(61)); 
      @include hide-text;
      background-repeat: no-repeat;
      display: block;
      height: em(61);
      width: em(315);
    }
  }

  .site-actions {
    @include span-columns(8);
    text-align: right;
  }

}
