.home-news {
  padding: 2em 0;
  text-align: center;

  @include media($medium-screen) {
    padding: 5em 0;
  }
}

.home-news h1 {
  @extend %aqua-heading;
}

.home-news .posts {
  @include clearfix;
  @include media($medium-screen) {
    padding-top: 2em;
  }
}

.home-news .post {
  text-align: left;
  margin-bottom: 2em;
  @include span-columns(12);

  @include media($medium-screen) {
    @include span-columns(6);
    &:nth-child(2n) {
      @include omega; 
    }
  }
}

.home-news img {
  width: 100%;
}

.home-news .post-date {
  color: $aqua;
  font-size: .9em;
  margin: 0.5em 0 0 0;

  @include media($medium-screen) {
     margin-top: 1em;
  }
}

.home-news .post h2 {
  color: $blue;
  font-family: $serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: em(18);
  font-weight: normal;

  @include media($medium-screen) {
    font-size: em(21); 
  }
}

.home-news .button-large {
  clear: both;
}
