.home-about__item {
  background: $abyss;
  padding: 4em 0;
  margin-top: 1em;
  position: relative;
  cursor: pointer;

  @include media($medium-screen) {
    @include span-columns(4);
    margin-top: 3em;
  }

  .drop-down-menu-title {
    font-size: 1em;
    text-transform: uppercase;

    a { color: $white; }
    i { color: $aqua; }

  }

  .drop-down-menu {
    visibility: hidden;
    position: absolute;
    background-color: $darker-blue;
    text-align: center;
    width: 90%;
    z-index: 300;
    left: 5%;
    transition: all .4s;
    opacity: 0;
    top: 75%;

    li {
      border-bottom: 1px solid $blue;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      padding: 1em;

      &:last-child {
        border-bottom: none; 
      }
    }

    a {
      color: white;
      font-family: $serif;
    }

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: calc(50% - 5px);
      display: block;
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $darker-blue;
    }
  }



  &:hover .drop-down-menu {
    visibility: visible;
    transition: all .4s;
    opacity: .9;
    top: 85%;
  }
}

// Who We Are
.home-about__item.who-we-are {
  background: $abyss url(../images/who-we-are.png) no-repeat center center;
  background-size: cover;
}

// What We Do
.home-about__item.what-we-do {
  background: $abyss url(../images/what-we-do.png) no-repeat center center;
  background-size: cover;
}

// Sustainable Fisheries
.home-about__item.initiatives {
  background: $abyss url(../images/initiatives.png) no-repeat center center;
  background-size: cover;
}

// Hover behavior
.home-about__item {
  &:hover {
    background-color: $green;
    transition: all .4s;

    a i { color: $white }
  }
}
