.home-success-stories {
  background-color: $abyss;
  padding: 5em 0;
  position: relative;
  overflow: hidden;
  text-align: center;

  @include media($medium-screen) {
    text-align: left;
  }

  h1, h2, p {
    position: relative;
    z-index: 1;
  }

  h1 {
    @extend %aqua-heading;
  }

  h2 {
    font-size: 1.5em;
    color: $white;
    font-weight: normal;
    @include media($medium-screen) {
      max-width: 70%;
    }
  }

  p {
    color: white;
    margin-bottom: 2em;
     @include media($medium-screen) {
      max-width: 60%;
    }
  }

  .button-large {
    @extend %button-white;
    margin: 0 auto;

    @include media($medium-screen) {
      margin: 0;
    }
  }

  .support-image {
    max-width: 120px;
    margin: 0 auto;
    display: block;

    @include media($medium-screen) {
      position: absolute;
      bottom: -6px;
      right: 0;
      max-width: 100%;
    }
  }
}
