.landing .content-header {
  background: $abyss url(../images/landing-header-bg.png) center center no-repeat;
  background-size: cover;
}

.landing-section {
  border-bottom: em(1) solid $light-gray;
  overflow: hidden;
  padding: 3em 0;
  position: relative;
  text-align: center;

  &:hover {
    //background-color: $black;
    color: $white;
    //@include transition(all 0.2s);

    h2, h2 a {
      color: $white; 
    }

    .button-large {
      @extend %button-white; 
    }
  }
}

.landing-section h2 {
  @extend %aqua-heading;
}

.landing-section .excerpt {
  max-width: 50%;
  margin: 1em auto;
}

.landing-section .details {
  position: relative;
  z-index: 1;
}

.landing-section .hover-bg {
  //display: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;

  &.active {
    //transform: translate(0px, -20px); 
    display: block;
    background-position: center -10em;
    @include transition(all 1s);
  }
}

