.language-menu-container,
.main-menu-container {
  background: $abyss;
  display: none;
  min-height: 150%;
  left: 0;
  padding-top: 5em;
  padding-bottom: 10em;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 5;

  @include media($medium-screen) {
    padding-top: 10em;  
  }
  
  li.top-level {
    border-bottom: em(1) solid #445A6B;
    display: block;
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 1em;

    &:last-child {
      border-bottom: none;
    }
  }

  li.top-level > a {
    color: $white;
    font-family: $serif;
    font-size: em(20);

    @include media($medium-screen) {
      font-size: em(36);
    }
  }

  li.top-level.small {
    padding: 1em;
  }

  li.top-level.small a {
    font-size: em(20);
    @include media($medium-screen) {
      font-size: em(24);
    }
  }

  li.top-level ul > li {
    display: list-item;
    
    @include media($medium-screen) {
      display: inline;
    }
  }

  li.top-level ul > li a {
    color: $aqua;

    @include media($medium-screen) {
      padding: 0.5em;
    }

    &:hover {
      color: $white; 
    }
  }
}
