.news .content-header {
  background: $abyss url(../images/post-header-bg.png) no-repeat;
  background-size: cover;
}

.news .newest {
  border-bottom: em(1) solid $light-gray;
}

.news .newest h1 {
  @extend %aqua-heading;
}

.news .all-news {
  .post {
    border-bottom: em(1) solid $light-gray;
    padding: 3em;
  }

  .post h2 {
    font-size: em(24);
  }

  .post img {
    float: left;
    max-width: 40%;
    margin-right: 1em;
  }
}
