.post .post-content {
  @extend %grid-container; 
  margin-bottom: 5em;
}

.post .post-header {
  background: $abyss url(../images/news-header-bg.png) no-repeat;
  background-size: cover;
  height: em(400);
  position: relative;
  text-align: center;

  &:after {
    background: rgba($abyss, 0.5);
    content: "";
    display: block;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  section {
    @extend %grid-container;
  }

  section.title {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    z-index: 1;
  }

  .section-title {
    color: $white;

    span { 
      border-bottom: em(2) solid $white; 
      padding-bottom: 1em;
    }
  }

  h1 {
    color: $white;
    font-size: em(32);
    position: relative;
    margin: 1em 0;
    z-index: 1;

    @include media($medium-screen) {
      font-size: em(48);
    }
  }
}

.post .post-image {
  margin: 0 auto;
  width: 75%; 
  img { width: 100%; }
}
.post .post-image {
  margin: 0 auto;
  width: 100%; 
  image { width: 100%; }

  @include media($medium-screen) {
    width: 75%;
  }
}

.post .article-content {
  margin: 2em auto 0;
  width: 100%;

  @include media($medium-screen) {
    width: 60%;
  }
}

.post h2, .post h3 {
  color: $aqua;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.post h2 { 
  font-size: em(22); 

  @include media($medium-screen) {
    font-size: em(36); 
  }
}

.post h3 { 
  font-size: em(24); 

  @include media($medium-screen) {
    font-size: em(28); 
  }
}

// Meta
.post .meta {
  background: $white;  
  border-bottom: em(1) solid $light-gray;
  text-align: center;
  padding: 1em 0;

  p { 
    font-size: 0.775em;
    margin: 0; 
    @include media($medium-screen) {
      font-size: 1em;
    }
  }
}

// Previous and Next Post
.post .prev-next {
  padding: 2em 0 3em;
  h1 {
    @extend %aqua-heading;
    margin-bottom: 3em;
    text-align: center;
  }
  
  h1 span {
    border-bottom: em(1) solid $light-gray;
    padding-bottom: 1em;
  }

  .nav-buttons {
    @extend %grid-container;
  } 

  // Prev/Next Buttons
  .left-container,
  .right-container {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(4);
    }
  }
  
  .left-container {
    min-height: 1px;

    @include media($medium-screen) {
      @include shift(2);
    }
  }

  a { 
    @include span-columns(12 of 12);
    border: em(5) solid $light-gray;
    font-family: $serif;
    padding: 0.5em 0.5em 1em;

    @include media($medium-screen) {
      @include span-columns(4 of 4);
      padding: 1em 1em 2em;
    }

    span.link-text {
      font-size: em(24);
    }

    span.post-title { 
      display: block; 
      font-family: $sans-serif;
      color: $black;

      &:nth-child(1) { margin-left: 1em; }

      &:nth-child(2) { margin-right: 1em; }
      // Quotes around post title
      &:before, &:after {
        content: '\0022'; 
      }
    }
    
    // First button
    &:nth-child(1) {
      margin-bottom: 1em;
      @include media($medium-screen) {
        //@include shift(2);
      }
    }

    // Second button
    &:nth-child(2) {
      text-align: right;
    }
  }

}
