%toggle {
  line-height: em(61);
  padding: 0.75em;
  text-transform: uppercase;
}

.toggle.language {
  @extend %toggle; 
  background: $blue;
  color: $white;
  font-size: em(16);

  i { color: $abyss; }
}

.toggle.navigation {
  @extend %toggle; 
  background: $white;
  color: $black;
  font-size: em(16);

  i { color: $abyss; }
}

.toggle.close {
  @extend %toggle;
  background: none;
  border: em(3) solid $white;
  color: $white;
  display: none;
  padding: 0.584em
}
