%toggle {
  line-height: em(61);
  padding: 0.75em;
  text-transform: uppercase;
}

.toggle.language {
  @extend %toggle; 
  background: $blue;
  left: 0;
  color: $white;
  float: left;
  line-height: normal;
  font-size: em(16);

  @include media($medium-screen) {
    display: initial;
  }

  i { color: $abyss; }
}

.toggle.navigation {
  @extend %toggle; 
  background: $white;
  color: $black;
  font-size: em(16);
  
  i { color: $abyss; }
}

.large-screen-menu .toggle.language, 
.large-screen-menu .toggle.navigation {
  margin-top: 1em;
  display: none;

  @include media($medium-screen) {
    display: inline;
    float: none;
  }
}

.small-screen-menu .toggle.language {
  display: none;
  margin-top: 20em;
}

.toggle.close {
  @extend %toggle;
  background: none;
  border: em(3) solid $white;
  color: $white;
  display: none;
  padding: 0.584em
}

.toggle.close.mobile-nav {
  float: right;
  line-height: normal;
  margin-top: 1em;

  @include media($medium-screen) {
    display: none;
  }
}

footer .toggle.language {
  display: initial;

  @include media($medium-screen) {
    float: none;
  }
}

.mobile-nav-toggle {
  @extend %toggle;
  color: $white;
  float: right;
  line-hight: normal;
  padding: 0;

  @include media($medium-screen) {
    display: none !important;
  }
}
