* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.75; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.5em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.875em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.75em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.75em 0;
  padding-left: 0.875em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.875em 0;
  padding: 1.75em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.4375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.875em;
  padding: 0.58333em 0.58333em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.4375em; }

input[type="file"] {
  margin-bottom: 0.875em;
  padding-bottom: 0.58333em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.75em; }

table {
  border-collapse: collapse;
  margin: 0.875em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.875em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.875em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.875em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.875em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/*$alert-color: $blue;
$error-color: $red;
$notice-color: $dark-green;
$success-color: $green;*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: "adriane", Georgia, Times, serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 1em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

.aqua-heading,
.home-news h1,
.home-success-stories h1 {
  color: #00A6AE;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase; }

p {
  margin: 0 0 0.975em; }

body {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #303030;
  margin: 0;
  padding: 0; }

.grid-container, .site-footer .wrap, .site-header .wrap,
.post .post-content,
.post .post-header section {
  max-width: 73.75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em; }
  .grid-container:after, .site-footer .wrap:after, .site-header .wrap:after,
  .post .post-content:after,
  .post .post-header section:after {
    content: "";
    display: table;
    clear: both; }

.layout-default .site-footer {
  padding: 0 1em; }

.button-large {
  box-sizing: border-box;
  display: inline-block;
  padding: .75em 2em;
  font-size: 18px;
  text-transform: uppercase;
  border: solid 3px #0071C5;
  transition: all .4s; }
  .button-large:hover {
    background-color: #0071C5;
    color: white;
    transition: all .4s; }

.hero-home .button-large, .home-success-stories .button-large {
  border-color: white;
  color: white; }
  .hero-home .button-large:hover, .home-success-stories .button-large:hover {
    color: #333;
    background: white; }

.site-footer {
  background-image: url("../images/footer-bg.png");
  background-color: #2B3A46; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .site-footer {
      background-image: url("../images/footer-bg_2x.png");
      background-size: 100% 100%; } }
  .site-footer .wrap {
    overflow: hidden;
    padding-bottom: 3em;
    padding-top: 3em;
    text-align: center; }
  .site-footer ul {
    margin-bottom: 1em; }
    .site-footer ul li {
      display: inline; }
    .site-footer ul li a {
      color: #FFFFFF;
      padding: 1em;
      text-transform: uppercase; }
    @media screen and (min-width: 40em) {
      .site-footer ul {
        margin-bottom: 3em; } }
  .site-footer .logo-container {
    text-align: center; }
    .site-footer .logo-container a {
      background-image: url("../images/logo.png");
      overflow: hidden;
      background-repeat: no-repeat;
      width: 9.84375em;
      height: 1.90625em;
      display: block;
      margin: 0 auto; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .site-footer .logo-container a {
          background-image: url("../images/logo_2x.png");
          background-size: 100% 100%; } }
      .site-footer .logo-container a:before {
        content: "";
        display: block;
        width: 0;
        height: 100%; }
      @media screen and (min-width: 40em) {
        .site-footer .logo-container a {
          background-image: url("../images/logo.png");
          width: 19.6875em;
          height: 3.8125em; } }
  @media only screen and (min-width: 40em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 40em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 40em) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 40em) and (min-resolution: 125dpi), only screen and (min-width: 40em) and (min-resolution: 1.3dppx) {
    .site-footer .logo-container a {
      background-image: url("../images/logo_2x.png");
      background-size: 19.6875em 3.8125em; } }

.site-header {
  background: rgba(48, 48, 48, 0.2);
  position: absolute;
  width: 100%;
  z-index: 10; }
  @media screen and (min-width: 40em) {
    .site-header {
      background: none;
      margin: 3.125em auto 0; } }
  .site-header .logo-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .site-header .logo-container:last-child {
      margin-right: 0; }
    .site-header .logo-container a {
      background-image: url("../images/logo.png");
      overflow: hidden;
      background-repeat: no-repeat;
      display: block;
      height: 1.84375em;
      margin-top: 1em;
      width: 9.84375em; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .site-header .logo-container a {
          background-image: url("../images/logo_2x.png");
          background-size: 100% 100%; } }
      .site-header .logo-container a:before {
        content: "";
        display: block;
        width: 0;
        height: 100%; }
      @media screen and (min-width: 40em) {
        .site-header .logo-container a {
          background-image: url("../images/logo.png");
          height: 3.8125em;
          margin-top: 0;
          width: 19.75em; } }
  @media only screen and (min-width: 40em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 40em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 40em) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 40em) and (min-resolution: 125dpi), only screen and (min-width: 40em) and (min-resolution: 1.3dppx) {
    .site-header .logo-container a {
      background-image: url("../images/logo_2x.png");
      background-size: 19.6875em 3.8125em; } }

  .site-header .site-actions {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    text-align: right; }
    .site-header .site-actions:last-child {
      margin-right: 0; }

.hero-home {
  background: url(../images/hero-bg.png) no-repeat;
  position: relative;
  transition: height .4s;
  height: 400px;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .hero-home {
      height: 600px; } }
  @media screen and (min-width: 53.75em) {
    .hero-home {
      height: 700px; } }

.hero-home:after {
  background-size: cover;
  background-image: linear-gradient(-90deg, #339F2B 3%, #00A6AE 49%, #0075C1 99%);
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  content: ""; }

.hero-home .hero-text {
  max-width: 73.75em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  padding: 0 1em;
  top: 30%;
  z-index: 1; }
  .hero-home .hero-text:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 40em) {
    .hero-home .hero-text {
      top: 50%; } }

.hero-home .hero-text h1 {
  color: white;
  font-weight: normal;
  line-height: 1.5em;
  text-transform: initial;
  margin-bottom: 1em; }
  @media screen and (min-width: 40em) {
    .hero-home .hero-text h1 {
      font-size: 2.5em; } }
  @media screen and (min-width: 53.75em) {
    .hero-home .hero-text h1 {
      font-size: 2.5em;
      max-width: 70%;
      margin-left: auto;
      margin-right: auto; } }

.hero-home .button-large {
  display: inline; }

.home-about__item {
  background: #2B3A46;
  padding: 4em 0;
  margin-top: 1em;
  position: relative;
  cursor: pointer; }
  @media screen and (min-width: 40em) {
    .home-about__item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-top: 3em; }
      .home-about__item:last-child {
        margin-right: 0; } }
  .home-about__item .drop-down-menu-title {
    font-size: 1em;
    text-transform: uppercase; }
    .home-about__item .drop-down-menu-title a {
      color: #FFFFFF; }
    .home-about__item .drop-down-menu-title i {
      color: #00A6AE; }
  .home-about__item .drop-down-menu {
    visibility: hidden;
    position: absolute;
    background-color: #004883;
    text-align: center;
    width: 90%;
    z-index: 300;
    left: 5%;
    transition: all .4s;
    opacity: 0;
    top: 75%; }
    .home-about__item .drop-down-menu li {
      border-bottom: 1px solid #0071C5;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      padding: 1em; }
      .home-about__item .drop-down-menu li:last-child {
        border-bottom: none; }
    .home-about__item .drop-down-menu a {
      color: white;
      font-family: "adriane", Georgia, Times, serif; }
    .home-about__item .drop-down-menu:before {
      content: "";
      position: absolute;
      top: -10px;
      left: calc(50% - 5px);
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #004883; }
  .home-about__item:hover .drop-down-menu {
    visibility: visible;
    transition: all .4s;
    opacity: .9;
    top: 85%; }

.home-about__item.who-we-are {
  background: #2B3A46 url(../images/who-we-are.png) no-repeat center center;
  background-size: cover; }

.home-about__item.what-we-do {
  background: #2B3A46 url(../images/what-we-do.png) no-repeat center center;
  background-size: cover; }

.home-about__item.sustainable-fisheries {
  background: #2B3A46 url(../images/sustainable-fisheries.png) no-repeat center center;
  background-size: cover; }

.home-about__item:hover {
  background-color: #3BBB33;
  transition: all .4s; }
  .home-about__item:hover a i {
    color: #FFFFFF; }

.home-about {
  background: white;
  padding: 2em 0;
  text-align: center; }
  .home-about h1 {
    font-size: 1em; }
  .home-about h2 {
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.8em;
    max-width: 90%;
    margin: 0 auto; }
  @media screen and (min-width: 40em) {
    .home-about {
      padding: 5em 0; }
      .home-about h1 {
        font-size: 1.5em; }
      .home-about h2 {
        font-size: 1.75em;
        line-height: 1.8em; } }

.home-news {
  padding: 2em 0;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .home-news {
      padding: 5em 0; } }

.home-news .posts:after {
  content: "";
  display: table;
  clear: both; }
@media screen and (min-width: 40em) {
  .home-news .posts {
    padding-top: 2em; } }

.home-news .post {
  text-align: left;
  margin-bottom: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .home-news .post:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    .home-news .post {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .home-news .post:last-child {
        margin-right: 0; } }

.home-news img {
  width: 100%; }

.home-news .post-date {
  color: #00A6AE;
  font-size: .9em;
  margin: 0.5em 0 0 0; }
  @media screen and (min-width: 40em) {
    .home-news .post-date {
      margin-top: 1em; } }

.home-news h2 {
  color: #0071C5;
  font-family: "adriane", Georgia, Times, serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.125em; }
  .home-news h2 a {
    font-weight: normal; }
  @media screen and (min-width: 40em) {
    .home-news h2 {
      font-size: 1.3125em; }
      .home-news h2 a {
        font-size: 1.125em; } }

.home-news .button-large {
  clear: both; }

.home-success-stories {
  background-color: #2B3A46;
  padding: 5em 0;
  position: relative;
  overflow: hidden;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .home-success-stories {
      text-align: left; } }
  .home-success-stories h1, .home-success-stories h2, .home-success-stories p {
    position: relative;
    z-index: 1; }
  .home-success-stories h2 {
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: normal; }
    @media screen and (min-width: 40em) {
      .home-success-stories h2 {
        max-width: 70%; } }
  .home-success-stories p {
    color: white;
    margin-bottom: 2em; }
    @media screen and (min-width: 40em) {
      .home-success-stories p {
        max-width: 60%; } }
  .home-success-stories .button-large {
    margin: 0 auto; }
    @media screen and (min-width: 40em) {
      .home-success-stories .button-large {
        margin: 0; } }
  .home-success-stories .support-image {
    max-width: 120px;
    margin: 0 auto;
    display: block; }
    @media screen and (min-width: 40em) {
      .home-success-stories .support-image {
        position: absolute;
        bottom: -6px;
        left: 40%;
        max-width: 100%; } }

.main-menu-container {
  background: #2B3A46;
  display: none;
  min-height: 150%;
  left: 0;
  padding-top: 5em;
  padding-bottom: 10em;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 5; }
  @media screen and (min-width: 40em) {
    .main-menu-container {
      padding-top: 10em; } }
  .main-menu-container li.top-level {
    border-bottom: 0.0625em solid #445A6B;
    display: block;
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 1em; }
    .main-menu-container li.top-level:last-child {
      border-bottom: none; }
  .main-menu-container li.top-level > a {
    color: #FFFFFF;
    font-family: "adriane", Georgia, Times, serif;
    font-size: 1.25em; }
    @media screen and (min-width: 40em) {
      .main-menu-container li.top-level > a {
        font-size: 2.25em; } }
  .main-menu-container li.top-level.small {
    padding: 1em; }
  .main-menu-container li.top-level.small a {
    font-size: 1.25em; }
    @media screen and (min-width: 40em) {
      .main-menu-container li.top-level.small a {
        font-size: 1.5em; } }
  .main-menu-container li.top-level ul > li {
    display: list-item; }
    @media screen and (min-width: 40em) {
      .main-menu-container li.top-level ul > li {
        display: inline; } }
  .main-menu-container li.top-level ul > li a {
    color: #00A6AE;
    padding: 0.5em 1em; }
    .main-menu-container li.top-level ul > li a:hover {
      color: #FFFFFF; }

.post .post-header {
  background: url(../images/news-header-bg.jpg) no-repeat;
  height: 25em;
  position: relative;
  text-align: center; }
  .post .post-header:after {
    background: rgba(43, 58, 70, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .post .post-header section.title {
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
    z-index: 1; }
  .post .post-header .section-title {
    color: #FFFFFF; }
    .post .post-header .section-title span {
      border-bottom: 0.125em solid #FFFFFF;
      padding-bottom: 1em; }
  .post .post-header h1 {
    color: #FFFFFF;
    font-size: 3em;
    position: relative;
    margin: 1em 0;
    z-index: 1; }

.post .post-image {
  margin: 0 auto;
  width: 75%; }
  .post .post-image img {
    width: 100%; }

.post .article-content {
  margin: 2em auto 0;
  width: 60%; }

.post h2, .post h3 {
  color: #00A6AE;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.post h2 {
  font-size: 2.25em; }

.post h3 {
  font-size: 1.75em; }

.toggle.language, .toggle.navigation, .toggle.close {
  line-height: 3.8125em;
  padding: 0.75em;
  text-transform: uppercase; }

.toggle.language {
  background: #0071C5;
  display: none;
  color: #FFFFFF;
  font-size: 1em; }
  @media screen and (min-width: 40em) {
    .toggle.language {
      display: initial; } }
  .toggle.language i {
    color: #2B3A46; }

footer .toggle.language {
  display: initial; }

.toggle.navigation {
  background: none;
  color: #FFFFFF;
  font-size: 1em; }
  .toggle.navigation i {
    color: #FFFFFF; }
  .toggle.navigation span {
    display: none; }
  @media screen and (min-width: 40em) {
    .toggle.navigation {
      background: #FFFFFF;
      color: #303030; }
      .toggle.navigation span {
        display: initial; }
      .toggle.navigation i {
        color: #2B3A46; } }

.toggle.close {
  background: none;
  border: 0.1875em solid #FFFFFF;
  color: #FFFFFF;
  display: none;
  padding: 0.584em; }

/* No files to import found in vendor/* */

/*# sourceMappingURL=style.css.map */
