* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.75; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.5em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.875em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.75em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.75em 0;
  padding-left: 0.875em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.875em 0;
  padding: 1.75em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.4375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.875em;
  padding: 0.58333em 0.58333em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.4375em; }

input[type="file"] {
  margin-bottom: 0.875em;
  padding-bottom: 0.58333em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.75em; }

table {
  border-collapse: collapse;
  margin: 0.875em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.875em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.875em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.875em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.875em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/*$alert-color: $blue;
$error-color: $red;
$notice-color: $dark-green;
$success-color: $green;*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: "adriane", Georgia, Times, serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 1em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

.aqua-heading,
.contact .contact-location h1,
.contact .contact-form h1,
.home-news h1,
.home-success-stories h1,
.landing-section h2,
.news .newest h1,
.post .prev-next h1 {
  color: #00A6AE;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase; }

p {
  margin: 0 0 0.975em; }

body {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #303030;
  margin: 0;
  padding: 0; }

.grid-container, .site-footer .wrap, .site-header .wrap,
.contact .contact-header section,
.content-header section,
.content-page .content-header section,
.post .post-content,
.post .post-header section,
.post .prev-next .nav-buttons {
  max-width: 73.75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em; }
  .grid-container:after, .site-footer .wrap:after, .site-header .wrap:after,
  .contact .contact-header section:after,
  .content-header section:after,
  .content-page .content-header section:after,
  .post .post-content:after,
  .post .post-header section:after,
  .post .prev-next .nav-buttons:after {
    content: "";
    display: table;
    clear: both; }

.layout-default .site-footer {
  padding: 0 1em; }

.button-large {
  box-sizing: border-box;
  display: inline-block;
  padding: .75em 2em;
  font-size: 18px;
  text-transform: uppercase;
  border: solid 3px #0071C5;
  transition: all .4s; }
  .button-large:hover {
    background-color: #0071C5;
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s; }

.button-white,
.hero-home .button-large,
.home-success-stories .button-large,
.landing-section:hover .button-large {
  background: transparent;
  border: 0.125em solid #FFFFFF;
  border-radius: 0;
  color: #FFFFFF; }
  .button-white:hover,
  .hero-home .button-large:hover,
  .home-success-stories .button-large:hover,
  .landing-section:hover .button-large:hover {
    color: #333;
    background: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s; }

.contact .contact-header {
  background: #2B3A46 url(../images/contact-header-bg.png) no-repeat;
  background-size: cover;
  height: 25em;
  position: relative;
  text-align: center; }
  .contact .contact-header:after {
    background: rgba(43, 58, 70, 0.5);
    content: "";
    display: block;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .contact .contact-header section.title {
    position: absolute;
    text-align: center;
    top: 60%;
    width: 100%;
    z-index: 1; }
  .contact .contact-header .section-title {
    color: #FFFFFF; }
    .contact .contact-header .section-title span {
      border-bottom: 0.125em solid #FFFFFF;
      padding-bottom: 1em; }
  .contact .contact-header h1 {
    color: #FFFFFF;
    font-size: 3em;
    position: relative;
    margin: 1em 0;
    z-index: 1; }

.contact .contact-location,
.contact .contact-form {
  padding: 3em 0; }

.contact .contact-location {
  text-align: center; }

.contact .contact-form {
  background: #0071C5; }
  .contact .contact-form .fa-send {
    text-align: center;
    display: block;
    font-size: 1.4em;
    margin-bottom: 1em; }
  .contact .contact-form h1 {
    color: #FFFFFF;
    text-align: center; }
  .contact .contact-form form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .contact .contact-form form:last-child {
      margin-right: 0; }
    .contact .contact-form form label {
      color: #FFFFFF;
      font-weight: normal; }
    .contact .contact-form form input[type=text], .contact .contact-form form textarea {
      font-family: "adriane", Georgia, Times, serif;
      font-weight: normal;
      margin-bottom: 1em;
      border: none;
      border-radius: 0;
      box-shadow: none;
      padding: 1em 2em; }
    .contact .contact-form form .actions {
      text-align: center;
      margin-top: 2em; }
      .contact .contact-form form .actions button {
        font-family: "proxima-nova", Helvetica, Arial, sans-serif;
        font-weight: normal;
        padding: 0.75em 3em;
        text-transform: uppercase; }

.content-header {
  background-size: cover;
  height: 30em;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .content-header {
      height: 36.25em; } }
  .content-header:after {
    background: rgba(43, 58, 70, 0.5);
    content: "";
    display: block;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .content-header section.title {
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
    z-index: 1; }
    .content-header section.title span {
      border-bottom: 0.125em solid #FFFFFF;
      padding-bottom: 1em; }
  .content-header section.title h1 {
    color: #FFFFFF;
    font-size: 1.75em;
    position: relative;
    margin: 1em 0 0;
    z-index: 1; }
    @media screen and (min-width: 40em) {
      .content-header section.title h1 {
        font-size: 3em; } }
    .content-header section.title h1:after {
      content: "";
      display: block;
      margin: 0.5em auto;
      width: 15%; }
  .content-header section.title p {
    margin: 0 auto;
    text-align: center; }
    @media screen and (min-width: 40em) {
      .content-header section.title p {
        width: 40%; } }

.content-page .content-header {
  background: #2B3A46 url(../images/content-header-bg.png) no-repeat;
  background-size: cover;
  height: 30em;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .content-page .content-header {
      height: 36.25em; } }
  .content-page .content-header:after {
    background: rgba(43, 58, 70, 0.5);
    content: "";
    display: block;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .content-page .content-header section {
    max-width: none; }
  .content-page .content-header section.title {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    z-index: 1; }
  .content-page .content-header .section-title {
    color: #FFFFFF;
    text-transform: uppercase; }
    .content-page .content-header .section-title span {
      border-bottom: 0.125em solid #FFFFFF;
      padding-bottom: 1em; }
  .content-page .content-header h1 {
    color: #FFFFFF;
    font-size: 2em;
    position: relative;
    margin: 1em 0 0;
    z-index: 1; }
    @media screen and (min-width: 40em) {
      .content-page .content-header h1 {
        font-size: 3em; } }

.content-page .subnav {
  margin-bottom: 2em;
  text-align: center; }
  .content-page .subnav ul {
    border-bottom: 0.0625em solid #E9E9E9; }
    @media screen and (min-width: 40em) {
      .content-page .subnav ul {
        padding: 0.75em 0.75em 0.7em; } }
  @media screen and (min-width: 40em) {
    .content-page .subnav ul li {
      display: inline-block;
      margin-left: -0.3125em;
      margin-right: -0.3125em;
      position: relative; } }
  .content-page .subnav ul li a {
    color: #303030;
    padding: 1em;
    text-transform: uppercase;
    display: block; }
    @media screen and (min-width: 40em) {
      .content-page .subnav ul li a {
        display: initial; } }
    .content-page .subnav ul li a:hover, .content-page .subnav ul li a.active {
      color: #FFFFFF;
      background: #00A6AE; }
      @media screen and (min-width: 40em) {
        .content-page .subnav ul li a:hover.active:after, .content-page .subnav ul li a.active.active:after {
          content: "";
          position: absolute;
          bottom: -1.1em;
          left: calc(50% - 5px);
          display: block;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #00A6AE; } }

.content-page .content-page-content article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-left: 0%;
  padding-bottom: 3em; }
  .content-page .content-page-content article:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    .content-page .content-page-content article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      .content-page .content-page-content article:last-child {
        margin-right: 0; } }
  .content-page .content-page-content article h1, .content-page .content-page-content article h2 {
    color: #00A6AE;
    font-weight: normal;
    margin: 1em 0; }
  .content-page .content-page-content article h1 {
    font-size: 2.25em; }
  .content-page .content-page-content article h2 {
    font-size: 1.75em; }

.site-footer {
  background-image: url("../images/footer-bg.png");
  background-color: #2B3A46;
  clear: both; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .site-footer {
      background-image: url("../images/footer-bg_2x.png");
      background-size: 100% 100%; } }
  .site-footer .wrap {
    overflow: hidden;
    padding-bottom: 3em;
    padding-top: 3em;
    text-align: center; }
  .site-footer ul {
    margin-bottom: 1em; }
    .site-footer ul li {
      display: inline; }
    .site-footer ul li.last {
      display: inline-block;
      overflow: hidden;
      text-align: center; }
      @media screen and (min-width: 40em) {
        .site-footer ul li.last {
          display: inline; } }
    .site-footer ul li a {
      color: #FFFFFF;
      padding: 1em;
      text-transform: uppercase; }
    @media screen and (min-width: 40em) {
      .site-footer ul {
        margin-bottom: 3em; } }
  .site-footer .logo-container {
    clear: left;
    text-align: center; }
    .site-footer .logo-container a {
      background-image: url("../images/logo.png");
      overflow: hidden;
      background-repeat: no-repeat;
      width: 9.84375em;
      height: 1.90625em;
      display: block;
      margin: 0 auto; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .site-footer .logo-container a {
          background-image: url("../images/logo_2x.png");
          background-size: 100% 100%; } }
      .site-footer .logo-container a:before {
        content: "";
        display: block;
        width: 0;
        height: 100%; }
      @media screen and (min-width: 40em) {
        .site-footer .logo-container a {
          background-image: url("../images/logo.png");
          width: 19.6875em;
          height: 3.8125em; } }
  @media only screen and (min-width: 40em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 40em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 40em) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 40em) and (min-resolution: 125dpi), only screen and (min-width: 40em) and (min-resolution: 1.3dppx) {
    .site-footer .logo-container a {
      background-image: url("../images/logo_2x.png");
      background-size: 19.6875em 3.8125em; } }

.site-header {
  background: rgba(48, 48, 48, 0.2);
  position: absolute;
  width: 100%;
  z-index: 10; }
  @media screen and (min-width: 40em) {
    .site-header {
      background: none;
      margin: 3.125em auto 0; } }
  .site-header .logo-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .site-header .logo-container:last-child {
      margin-right: 0; }
    .site-header .logo-container a {
      background-image: url("../images/logo.png");
      overflow: hidden;
      background-repeat: no-repeat;
      display: block;
      height: 1.84375em;
      margin-top: 1em;
      width: 9.84375em; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .site-header .logo-container a {
          background-image: url("../images/logo_2x.png");
          background-size: 100% 100%; } }
      .site-header .logo-container a:before {
        content: "";
        display: block;
        width: 0;
        height: 100%; }
      @media screen and (min-width: 40em) {
        .site-header .logo-container a {
          background-image: url("../images/logo.png");
          height: 3.8125em;
          margin-top: 0;
          width: 19.75em; } }
  @media only screen and (min-width: 40em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 40em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 40em) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 40em) and (min-resolution: 125dpi), only screen and (min-width: 40em) and (min-resolution: 1.3dppx) {
    .site-header .logo-container a {
      background-image: url("../images/logo_2x.png");
      background-size: 19.6875em 3.8125em; } }

  .site-header .site-actions {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: right; }
    .site-header .site-actions:last-child {
      margin-right: 0; }
    @media screen and (min-width: 40em) {
      .site-header .site-actions {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        .site-header .site-actions:last-child {
          margin-right: 0; } }
  .site-header .large-screen-menu {
    display: none; }
    @media screen and (min-width: 40em) {
      .site-header .large-screen-menu {
        display: block; } }
  @media screen and (min-width: 40em) {
    .site-header .small-screen-menu {
      display: none; } }

.hero-home {
  background: url(../images/hero-bg.png) no-repeat;
  background-size: cover;
  position: relative;
  transition: height .4s;
  height: 400px;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .hero-home {
      height: 600px; } }
  @media screen and (min-width: 53.75em) {
    .hero-home {
      height: 700px; } }

.hero-home:after {
  background-size: cover;
  background-image: linear-gradient(-90deg, #339F2B 3%, #00A6AE 49%, #0075C1 99%);
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  content: ""; }

.hero-home .hero-text {
  max-width: 73.75em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  padding: 0 1em;
  top: 30%;
  z-index: 1; }
  .hero-home .hero-text:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 40em) {
    .hero-home .hero-text {
      top: 50%; } }

.hero-home .hero-text h1 {
  color: white;
  font-weight: normal;
  line-height: 1.5em;
  text-transform: initial;
  margin-bottom: 1em; }
  @media screen and (min-width: 40em) {
    .hero-home .hero-text h1 {
      font-size: 2.5em; } }
  @media screen and (min-width: 53.75em) {
    .hero-home .hero-text h1 {
      font-size: 2.5em;
      max-width: 70%;
      margin-left: auto;
      margin-right: auto; } }

.hero-home .button-large {
  display: inline; }

.hero-home .scroll-arrow {
  bottom: -2.2em;
  color: #FFFFFF;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.home-about__item {
  background: #2B3A46;
  padding: 4em 0;
  margin-top: 1em;
  position: relative;
  cursor: pointer; }
  @media screen and (min-width: 40em) {
    .home-about__item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-top: 3em; }
      .home-about__item:last-child {
        margin-right: 0; } }
  .home-about__item .drop-down-menu-title {
    font-size: 1em;
    text-transform: uppercase; }
    .home-about__item .drop-down-menu-title a {
      color: #FFFFFF; }
    .home-about__item .drop-down-menu-title i {
      color: #00A6AE; }
  .home-about__item .drop-down-menu {
    visibility: hidden;
    position: absolute;
    background-color: #004883;
    text-align: center;
    width: 90%;
    z-index: 300;
    left: 5%;
    transition: all .4s;
    opacity: 0;
    top: 75%; }
    .home-about__item .drop-down-menu li {
      border-bottom: 1px solid #0071C5;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      padding: 1em; }
      .home-about__item .drop-down-menu li:last-child {
        border-bottom: none; }
    .home-about__item .drop-down-menu a {
      color: white;
      font-family: "adriane", Georgia, Times, serif; }
    .home-about__item .drop-down-menu:before {
      content: "";
      position: absolute;
      top: -10px;
      left: calc(50% - 5px);
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #004883; }
  .home-about__item:hover .drop-down-menu {
    visibility: visible;
    transition: all .4s;
    opacity: .9;
    top: 85%; }

.home-about__item.who-we-are {
  background: #2B3A46 url(../images/who-we-are.png) no-repeat center center;
  background-size: cover; }

.home-about__item.what-we-do {
  background: #2B3A46 url(../images/what-we-do.png) no-repeat center center;
  background-size: cover; }

.home-about__item.sustainable-fisheries {
  background: #2B3A46 url(../images/sustainable-fisheries.png) no-repeat center center;
  background-size: cover; }

.home-about__item:hover {
  background-color: #3BBB33;
  transition: all .4s; }
  .home-about__item:hover a i {
    color: #FFFFFF; }

.home-about {
  background: white;
  padding: 2em 0;
  text-align: center; }
  .home-about h1 {
    font-size: 1em; }
  .home-about h2 {
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.8em;
    max-width: 90%;
    margin: 0 auto; }
  @media screen and (min-width: 40em) {
    .home-about {
      padding: 5em 0; }
      .home-about h1 {
        font-size: 1.5em; }
      .home-about h2 {
        font-size: 1.75em;
        line-height: 1.8em; } }

.news .newest,
.home-news {
  padding: 2em 0;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .news .newest,
    .home-news {
      padding: 5em 0; } }

.news .newest .posts:after,
.home-news .posts:after {
  content: "";
  display: table;
  clear: both; }
@media screen and (min-width: 40em) {
  .news .newest .posts,
  .home-news .posts {
    padding-top: 2em; } }

.news .newest .post,
.home-news .post {
  text-align: left;
  margin-bottom: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .news .newest .post:last-child,
  .home-news .post:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    .news .newest .post,
    .home-news .post {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .news .newest .post:last-child,
      .home-news .post:last-child {
        margin-right: 0; }
      .news .newest .post:nth-child(2n),
      .home-news .post:nth-child(2n) {
        margin-right: 0; } }

.news .newest img,
.home-news img {
  width: 100%; }

.news .newest .post-date,
.home-news .post-date {
  color: #00A6AE;
  font-size: .9em;
  margin: 0.5em 0 0 0; }
  @media screen and (min-width: 40em) {
    .news .newest .post-date,
    .home-news .post-date {
      margin-top: 1em; } }

.news .newest .post h2,
.home-news .post h2 {
  color: #0071C5;
  font-family: "adriane", Georgia, Times, serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.125em;
  font-weight: normal; }
  @media screen and (min-width: 40em) {
    .news .newest .post h2,
    .home-news .post h2 {
      font-size: 1.3125em; } }

.home-news .button-large {
  clear: both; }

.home-success-stories {
  background-color: #2B3A46;
  padding: 5em 0;
  position: relative;
  overflow: hidden;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .home-success-stories {
      text-align: left; } }
  .home-success-stories h1, .home-success-stories h2, .home-success-stories p {
    position: relative;
    z-index: 1; }
  .home-success-stories h2 {
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: normal; }
    @media screen and (min-width: 40em) {
      .home-success-stories h2 {
        max-width: 70%; } }
  .home-success-stories p {
    color: white;
    margin-bottom: 2em; }
    @media screen and (min-width: 40em) {
      .home-success-stories p {
        max-width: 60%; } }
  .home-success-stories .button-large {
    margin: 0 auto; }
    @media screen and (min-width: 40em) {
      .home-success-stories .button-large {
        margin: 0; } }
  .home-success-stories .support-image {
    max-width: 120px;
    margin: 0 auto;
    display: block; }
    @media screen and (min-width: 40em) {
      .home-success-stories .support-image {
        position: absolute;
        bottom: -6px;
        left: 40%;
        max-width: 100%; } }

.landing .content-header {
  background: #2B3A46 url(../images/landing-header-bg.png) center center no-repeat; }

.landing-section {
  border-bottom: 0.0625em solid #E9E9E9;
  overflow: hidden;
  padding: 3em 0;
  position: relative;
  text-align: center; }
  .landing-section:hover {
    color: #FFFFFF; }
    .landing-section:hover h2 {
      color: #FFFFFF; }

.landing-section .excerpt {
  max-width: 50%;
  margin: 1em auto; }

.landing-section .details {
  position: relative;
  z-index: 1; }

.landing-section .hover-bg {
  background-position: center center;
  background-repeat: no-repeat;
  height: 120%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0; }
  .landing-section .hover-bg.active {
    display: block;
    background-position: center -10em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s; }

.language-menu-container,
.main-menu-container {
  background: #2B3A46;
  display: none;
  min-height: 150%;
  left: 0;
  padding-top: 5em;
  padding-bottom: 10em;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 5; }
  @media screen and (min-width: 40em) {
    .language-menu-container,
    .main-menu-container {
      padding-top: 10em; } }
  .language-menu-container li.top-level,
  .main-menu-container li.top-level {
    border-bottom: 0.0625em solid #445A6B;
    display: block;
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 1em; }
    .language-menu-container li.top-level:last-child,
    .main-menu-container li.top-level:last-child {
      border-bottom: none; }
  .language-menu-container li.top-level > a,
  .main-menu-container li.top-level > a {
    color: #FFFFFF;
    font-family: "adriane", Georgia, Times, serif;
    font-size: 1.25em; }
    @media screen and (min-width: 40em) {
      .language-menu-container li.top-level > a,
      .main-menu-container li.top-level > a {
        font-size: 2.25em; } }
  .language-menu-container li.top-level.small,
  .main-menu-container li.top-level.small {
    padding: 1em; }
  .language-menu-container li.top-level.small a,
  .main-menu-container li.top-level.small a {
    font-size: 1.25em; }
    @media screen and (min-width: 40em) {
      .language-menu-container li.top-level.small a,
      .main-menu-container li.top-level.small a {
        font-size: 1.5em; } }
  .language-menu-container li.top-level ul > li,
  .main-menu-container li.top-level ul > li {
    display: list-item; }
    @media screen and (min-width: 40em) {
      .language-menu-container li.top-level ul > li,
      .main-menu-container li.top-level ul > li {
        display: inline; } }
  .language-menu-container li.top-level ul > li a,
  .main-menu-container li.top-level ul > li a {
    color: #00A6AE;
    padding: 0.5em 1em; }
    .language-menu-container li.top-level ul > li a:hover,
    .main-menu-container li.top-level ul > li a:hover {
      color: #FFFFFF; }

.news .content-header {
  background: #2B3A46 url(../images/post-header-bg.png) no-repeat;
  height: 25em; }
  .news .content-header section.title {
    top: 50%; }

.news .newest {
  border-bottom: 0.0625em solid #E9E9E9; }

.news .all-news .post {
  border-bottom: 0.0625em solid #E9E9E9;
  padding: 3em; }
.news .all-news .post h2 {
  font-size: 1.5em; }
.news .all-news .post img {
  float: left;
  max-width: 40%;
  margin-right: 1em; }

.post .post-content {
  margin-bottom: 5em; }

.post .post-header {
  background: #2B3A46 url(../images/news-header-bg.png) no-repeat;
  background-size: cover;
  height: 25em;
  position: relative;
  text-align: center; }
  .post .post-header:after {
    background: rgba(43, 58, 70, 0.5);
    content: "";
    display: block;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .post .post-header section.title {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    z-index: 1; }
  .post .post-header .section-title {
    color: #FFFFFF; }
    .post .post-header .section-title span {
      border-bottom: 0.125em solid #FFFFFF;
      padding-bottom: 1em; }
  .post .post-header h1 {
    color: #FFFFFF;
    font-size: 2em;
    position: relative;
    margin: 1em 0;
    z-index: 1; }
    @media screen and (min-width: 40em) {
      .post .post-header h1 {
        font-size: 3em; } }

.post .post-image {
  margin: 0 auto;
  width: 75%; }
  .post .post-image img {
    width: 100%; }

.post .post-image {
  margin: 0 auto;
  width: 100%; }
  .post .post-image image {
    width: 100%; }
  @media screen and (min-width: 40em) {
    .post .post-image {
      width: 75%; } }

.post .article-content {
  margin: 2em auto 0;
  width: 100%; }
  @media screen and (min-width: 40em) {
    .post .article-content {
      width: 60%; } }

.post h2, .post h3 {
  color: #00A6AE;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.post h2 {
  font-size: 1.75em; }
  @media screen and (min-width: 40em) {
    .post h2 {
      font-size: 2.25em; } }

.post h3 {
  font-size: 1.5em; }
  @media screen and (min-width: 40em) {
    .post h3 {
      font-size: 1.75em; } }

.post .meta {
  background: #FFFFFF;
  border-bottom: 0.0625em solid #E9E9E9;
  text-align: center;
  padding: 1em 0; }
  .post .meta p {
    font-size: 0.775em;
    margin: 0; }
    @media screen and (min-width: 40em) {
      .post .meta p {
        font-size: 1em; } }

.post .prev-next {
  padding: 2em 0 3em; }
  .post .prev-next h1 {
    margin-bottom: 3em;
    text-align: center; }
  .post .prev-next h1 span {
    border-bottom: 0.0625em solid #E9E9E9;
    padding-bottom: 1em; }
  .post .prev-next a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    border: 0.3125em solid #E9E9E9;
    font-family: "adriane", Georgia, Times, serif;
    padding: 1em 1em 2em; }
    .post .prev-next a:last-child {
      margin-right: 0; }
    .post .prev-next a span.link-text {
      font-size: 1.5em; }
    .post .prev-next a span.post-title {
      display: block;
      font-family: "proxima-nova", Helvetica, Arial, sans-serif;
      color: #303030; }
      .post .prev-next a span.post-title:nth-child(1) {
        margin-left: 1em; }
      .post .prev-next a span.post-title:nth-child(2) {
        margin-right: 1em; }
      .post .prev-next a span.post-title:before, .post .prev-next a span.post-title:after {
        content: '\0022'; }
    .post .prev-next a:nth-child(1) {
      margin-left: 17.05961%; }
    .post .prev-next a:nth-child(2) {
      text-align: right; }

.resources .content-header {
  background: #2B3A46 url(../images/post-header-bg.png) no-repeat;
  height: 25em; }
  .resources .content-header section.title {
    top: 50%; }

.resources .resources-list .post {
  border-bottom: 0.0625em solid #E9E9E9;
  padding: 1em; }
  @media screen and (min-width: 40em) {
    .resources .resources-list .post {
      padding: 3em;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .resources .resources-list .post:last-child {
        margin-right: 0; } }
.resources .resources-list .image-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .resources .resources-list .image-container:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    .resources .resources-list .image-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      .resources .resources-list .image-container:last-child {
        margin-right: 0; } }
  .resources .resources-list .image-container img {
    width: 100%; }
.resources .resources-list .details {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .resources .resources-list .details:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    .resources .resources-list .details {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      .resources .resources-list .details:last-child {
        margin-right: 0; } }
.resources .resources-list .post h2 {
  font-size: 1.5em; }

.page-content .share-button.sharer-0 {
  text-align: center;
  width: auto; }

.page-content .share-button.sharer-0 label {
  background: none;
  border: 2px solid #0071C5;
  border-radius: 0;
  color: #0071C5;
  display: inline; }
  .page-content .share-button.sharer-0 label:hover {
    background: #0071C5 !important;
    color: #FFFFFF !important; }
  .page-content .share-button.sharer-0 label span {
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-weight: normal; }

.page-content .share-button.sharer-0 .social.networks-5.center,
.page-content .share-button.sharer-0 .social.active.top {
  margin-left: auto;
  margin-right: auto; }

.og-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%; }

.og-grid li {
  display: inline-block;
  margin: 10px 5px 1em 5px;
  vertical-align: top;
  height: 266px;
  width: 266px; }

.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative; }

.og-grid li a span.initial-details {
  color: #FFFFFF;
  display: block;
  position: relative;
  z-index: 3;
  margin-top: -5em; }
  .og-grid li a span.initial-details span {
    display: block; }
  .og-grid li a span.initial-details span.og-name {
    font-size: 18px;
    font-family: "adriane", Georgia, Times, serif; }
  .og-grid li a span.initial-details span.og-title {
    font-size: 16px;
    text-tranform: uppercase; }

.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #0071C5;
  border-width: 15px;
  left: 50%;
  margin: 15px 0 0 -15px; }

.og-expander {
  position: absolute;
  background: #0071C5;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 2.5em;
  text-align: left;
  height: 0;
  overflow: hidden; }

.og-expander-inner {
  padding: 50px 30px;
  height: 100%; }

.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer; }

.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

.og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.og-close:hover::before,
.og-close:hover::after {
  background: #333; }

.og-fullimg,
.og-details {
  width: 50%;
  float: left;
  height: 100%;
  position: relative; }

.og-details {
  padding: 0 40px 0 20px; }

.og-fullimg {
  text-align: center; }

.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  height: 100; }

.og-details h3 {
  font-weight: 300;
  font-size: 36px;
  padding: 0px 0 10px;
  margin: 0;
  color: #FFFFFF; }

.og-details p.position {
  color: #004883;
  text-transform: uppercase; }

.og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF; }

.og-details a {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none; }

.og-details a::before {
  content: '\2192';
  display: inline-block;
  margin-right: 10px; }

.og-details a:hover {
  border-color: #999;
  color: #999; }

.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both; }

@-webkit-keyframes loader {
  0% {
    background: #ddd; }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; } }
@-moz-keyframes loader {
  0% {
    background: #ddd; }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; } }
@keyframes loader {
  0% {
    background: #ddd; }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; } }
@media screen and (max-width: 830px) {
  .og-expander h3 {
    font-size: 32px; }

  .og-expander p {
    font-size: 13px; }

  .og-expander a {
    font-size: 12px; } }
@media screen and (max-width: 650px) {
  .og-fullimg {
    display: none; }

  .og-details {
    float: none;
    width: 100%; } }
.toggle.language, .toggle.navigation, .toggle.close, .mobile-nav-toggle {
  line-height: 3.8125em;
  padding: 0.75em;
  text-transform: uppercase; }

.toggle.language {
  background: #0071C5;
  left: 0;
  color: #FFFFFF;
  float: left;
  line-height: normal;
  font-size: 1em; }
  @media screen and (min-width: 40em) {
    .toggle.language {
      display: initial; } }
  .toggle.language i {
    color: #2B3A46; }

.toggle.navigation {
  background: #FFFFFF;
  color: #303030;
  font-size: 1em; }
  .toggle.navigation i {
    color: #2B3A46; }

.large-screen-menu .toggle.language,
.large-screen-menu .toggle.navigation {
  margin-top: 1em;
  display: none; }
  @media screen and (min-width: 40em) {
    .large-screen-menu .toggle.language,
    .large-screen-menu .toggle.navigation {
      display: inline;
      float: none; } }

.small-screen-menu .toggle.language {
  display: none;
  margin-top: 1em; }

.toggle.close {
  background: none;
  border: 0.1875em solid #FFFFFF;
  color: #FFFFFF;
  display: none;
  padding: 0.584em; }

.toggle.close.mobile-nav {
  float: right;
  line-height: normal;
  margin-top: 1em; }
  @media screen and (min-width: 40em) {
    .toggle.close.mobile-nav {
      display: none; } }

footer .toggle.language {
  display: initial; }
  @media screen and (min-width: 40em) {
    footer .toggle.language {
      float: none; } }

.mobile-nav-toggle {
  color: #FFFFFF;
  float: right;
  line-hight: normal;
  padding: 0; }
  @media screen and (min-width: 40em) {
    .mobile-nav-toggle {
      display: none !important; } }

.post .post-video {
  margin: 0 auto;
  width: 100%; }
  .post .post-video iframe {
    width: 100%; }
  @media screen and (min-width: 40em) {
    .post .post-video {
      width: 75%; } }

iframe {
  width: 100%; }

/* No files to import found in vendor/* */

/*# sourceMappingURL=style.css.map */
