---
layout: default
bodyclass: news
---
<div class="post">
  {% include content-header.html %}

  <section class="meta">
    <p class="meta-data">
      {% include parent_title.html %}
      <a href="{{parent_url}}">&laquo Back to {{parent_title}}</a>
    </p>
  </section>

  <article class="post-content">
    {% if page.hero-image %}
    <section class="post-image">
      <img src="{{page.hero-image}}" alt="{{page.title}}">
    </section>
    {% endif %}
    <section class="article-content"> 
      {{ content }}
    </section>
  </article>
</div>
