---
layout: default
bodyclass: landing
---

<header class="landing-header">
  <section class="title">
  <h1><span>{{ page.title }}</span></h1>
    <p>{{ page.subtitle }}</p>
  </section>
</header>

{% assign page_url = page.url | remove: 'index.html' %}

{% for node in site.pages %}
  {% if node.url contains page_url %}
    {% assign node_url = node.url | remove: 'index.html' %}
    {% if node_url != page_url%}
      <article class="landing-section {{node.title | downcase | replace: ' ', '-'}}">
        <section class="details">
          <h2><a href="{{node_url}}">{{ node.title }}</a></h2>
          <p class="excerpt">{{ node.teaser-text }}</p>
          <a class="button-large" href="{{node_url}}">Learn more</a>
        </section>
        <section class="hover-bg" style="background-image:
          url({{site.baseurl}}/assets/images/{{node.hero-image}}); transform: translate(0px,0px); opacity: 0;">
        </section>
      </article>
    {% endif %}
  {% endif %}
{% endfor %}
