---
layout: default
bodyclass: news
---
<div class="post">

  {% include content-header.html %}
  {% include date-format.html %}

  <section class="meta">
    <p class="meta-data">
    <a href="{%t news-base-url %}"> &laquo {%t news-back %}</a> | {%t news-published %}
      {{ page.date | date: date-format }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </section>
  <article class="post-content">
    {% if page.video %}
    <section class="post-video">
      <div class="outer-container">
      </div>
    </section>
    {% endif %}
    {% if page.hero-image %}
    <section class="post-image">
      <img src="{{page.hero-image}}" alt="{{page.title}}">
    </section>
    {% endif %}
    <section class="article-content">
      <div class="share-button"></div>
      {{ content }}
      <div class="newsletter-block">
        <hr class="short">
        <p>{%t news-like %}</p>
        <a class="newsletter-toggle" href="#newsletter-form">{%t news-notified %}</a>
      </div>
    </section>
  </article>

  <section class="prev-next">
    <h1><span>{%t news-more %}</span></h1>
    <div class="nav-buttons">
      <div class="left-container">
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="prev">
          <span class="link-text">
            <i class="fa fa-chevron-left"></i> {%t news-previous %}
          </span>
          <span class="post-title">{{ page.previous.title }}</span>
        </a>
        {% endif %}
      </div>
      <div class="right-container">
        {% if page.next %}
        <a href="{{ page.next.url }}" class="next">
          <span class="link-text"> {%t news-next %} <i class="fa fa-chevron-right"></i>
          </span>
          <span class="post-title">{{ page.next.title }}</span>
        </a>
        {% endif %}
      </div>
    </div>
  </section>

</div>
