---
layout: default
bodyclass: content-page
---
<div class="content-page-content {{page.title | downcase | replace: ' ', '-' }}">

  {% include content-header.html %}
  {% include content-subnav.html %}

  <article>
    <div class="grid-container">
      <h2 class="left">O2 Staff</h2>
      <ul id="og-grid" class="og-grid">
        {% for person in site.data.staff %}
         {% if person.contractor == false %}
          <li>
             <a href="/"
               data-largesrc="{{person.image}}"
               data-title="{{person.name}}" data-description="{{person.bio | markdownify}}"
               data-position="{{person.title}}">
              <img src="{{person.image}}" alt="staff image"/>
              <span class="initial-details">
                <span class="og-name">{{person.name}}</span>
                <span class="og-title">{{person.title}}</span>
              </span>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <h2 class="left">Key Contractors</h2>
      <ul id="og-grid-2" class="og-grid">
        {% for person in site.data.staff %}
        {% if person.contractor %}
        <li>
           <a href="/"
             data-largesrc="{{person.image}}"
             data-title="{{person.name}}" data-description="{{person.bio | markdownify}}"
             data-position="{{person.title}}">
            <img src="{{person.image}}" alt="staff image"/>
            <span class="initial-details">
              <span class="og-name">{{person.name}}</span>
              <span class="og-title">{{person.title}}</span>
            </span>
          </a>
        </li>
        {% endif %}
        {% endfor%}
      </ul>
    </div>
  </article>
  <article class="map-section">
    <h2 class="center">Our Locations</h2>
    <div class="grid-container">
      {% embed channel: map | id: "!1m16!1m12!1m3!1d1428724.7354240394!2d-123.83643704551848!3d45.62113305655356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sfisheries!5e0!3m2!1sen!2sus!4v1459807530869" %}
    </div>
  </article>
</div>
