---
layout: default
bodyclass: landing
---

{% include content-header.html %}

{% include child_depth.html %}

{% assign sorted_pages = site.pages | sort: 'weight' %}
{% for node in sorted_pages %}
  {% include node_depth.html %}
  {% if node_url contains page_url and node_depth == child_depth %}
    {% if node_url != page_url%}
      <article class="landing-section {{node.title | downcase | replace: ' ', '-'}}">
        <section class="details">
          <h2><a href="{{node_url}}">{{ node.title }}</a></h2>
          <p class="excerpt">{{ node.teaser-text }}</p>
          <a class="button-large" href="{{node_url}}">Learn more</a>
        </section>
        <section class="hover-bg" style="background-image:
          url({{site.baseurl}}/assets/images/{{node.landing-image}}); transform: translate(0px,0px); opacity: 0;">
        </section>
      </article>
    {% endif %}
  {% endif %}
{% endfor %}
