---
layout: default 
bodyclass: news news-listing
---
<header class="news-header">
  <section class="title">
    <h1>{{ page.title }}</h1>
  </section>
</header>

{% assign sorted_posts = site.tags.und | reversed %}
<section class="newest">
  <div class="grid-container">
    <h1>Newest Stories</h1>
    <div class="posts">
      {% for post in sorted_posts limit:2 %}
        <div class="post">
          <img src="{{sites.baseurl}}/{{ post.hero-image }}">
          <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h2>
          <p class="post-teaser-text">{{ post.teaser-text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="all-news">
  {% for post in sorted_posts offset:2 %}
    <div class="post">
      <div class="grid-container">
        <img src="{{sites.baseurl}}/{{ post.hero-image }}">
        <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{post.title }}
          </a>
        </h2>
        <p class="post-teaser-text">{{ post.teaser-text }}</p>
      </div>
    </div>
  {% endfor %}
</section>
