---
layout: default
bodyclass: news news-article
---
<div class="post">
  <header class="post-header">
    <section class="title">
      <p class="section-title"><span>Success Stories</span></p>
      <h1>{{ page.title }}</h1>
    </section>
  </header>

  <section class="meta">
    <p class="meta-data">
      {% include parent-url.html %}
      <a href="{{parent_url}}">&laquo Back to Success Stories</a>
    </p>
  </section>

  <article class="post-content">
    {% if page.hero-image %}
    <section class="post-image">
      <img src="{{site.baseurl}}/{{page.hero-image}}" alt="{{page.imagealt}}">
    </section>
    {% endif %}
    <section class="article-content"> 
      {{ content }}
    </section>
  </article>
</div>
