---
layout: default
bodyclass: news news-article
---
<!-- PLACEHOLDER FOR NEW SUCCESS STORY TEMPLATE -->
<!-- PLACEHOLDER FOR NEW SUCCESS STORY TEMPLATE -->
<!-- PLACEHOLDER FOR NEW SUCCESS STORY TEMPLATE -->
<!-- PLACEHOLDER FOR NEW SUCCESS STORY TEMPLATE -->

<div class="post">

  <header class="post-header">
    <section class="title">
      <p class="section-title"><span>Success Stories</span></p>
      <h1>{{ page.title }}</h1>
    </section>
  </header>

  <section class="meta">
    <p class="meta-data">
    {% include parent-url.html %}
    <a href="{{parent_url}}">Back to Success Stories</a> | Published 
      {{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </section>
  <article class="post-content">
    {% if page.hero-image %}
    <section class="post-image">
      <img src="{{site.baseurl}}/{{page.hero-image}}" alt="{{page.imagealt}}">
    </section>
    {% endif %}
    <section class="article-content"> 
      {{ content }}
    </section>
  </article>
</div>
