---
layout: default
bodyclass: news content-page action-landing
---

{% include content-header.html %}
{% include content-subnav.html %}

{% include child_depth.html %}

<section class="all-news">
  {% assign sorted_pages = site.pages | sort: 'weight' %}
  {% for node in sorted_pages %}
    {% include node_depth.html %}
    {% if node_url contains page_url and node_depth == child_depth and page.lang == node.lang %}
      <div class="post">
        <div class="grid-container">
          <img src="{{ node.hero-image }}" alt="{{node.title}}">
          <h2>
            <a>
              {{ node.title }}
            </a>
          </h2>
          <p class="post-teaser-text">{{ node.teaser-text }}</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>
